* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@function px($npx) {
  @return $npx / 375 * 100vw;
}
.icons {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  > .icon {
    border: 1px solid green;
    height: px(69);
    width: px(69);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
